	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	section {
		padding: 3em 2em;
	}

	.btn {
		display: inline-block;
		padding: .5em 2.5em;
		text-decoration: none;
		cursor: pointer;
		font-size: .8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		transition: transform 200ms ease-in-out;
	}

	.btn:hover {
		transform: scale(1.1);
	}

	/* Typography */
	.section__title {
		margin-bottom:1.5em;
		margin-right: 1em;
	}
	.section__title--intro {
		font-weight: var(--fw-reg);
	}

.about-me {
    max-width: 1500px;
    margin: 0 auto;
	text-align:center;
}


.card-img-top {
	max-height:250px;
	min-height:200px;
	object-fit:cover;

}
