	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Custom Properties, update these for your own design */
	:root {
		--ff-primary: 'Source Sans Pro', sans-serif;
		--ff-secondary: 'Source Code Pro', monospace;
		
		--fw-reg: 300;
		--fw-bold: 900;
		
		--clr-light: #fff;
		--clr-dark: #303030;
		--clr-accent: #16e0bd;

	  	--main-white: #f0f0f0;
  		--main-red: #be3144;
  		--main-blue: #45567d;
  		/*--main-gray: #303841; */
		--main-gray: #404040;

		--fs-h1: 3rem;
		--fs-h2: 2.25rem;
		--fs-h3: 1.25rem;
		--fs-body: 1rem;
		
		--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
			  0.125em 0.125em 0.25em rgba(0,0,0,.15);
	}

	@media (min-width: 800px) {
		:root {
			--fs-h1: 4.5rem;
			--fs-h2: 3.75rem;
			--fs-h3: 1.5rem;
			--fs-body: 1.125rem;
		}
	}

	/* General styles */
	/* enable this to add smooth scrolling */
	/* html {
		scroll-behavior: smooth;
	} */


	body {
		background: var(--clr-light);
		color: var(--clr-dark);
		margin: 0;
		font-family: var(--ff-primary);
		font-size: var(--fs-body);
		line-height: 1.6;
	}

	section {
		padding: 5em 2em;
	}

	img {
		display: block;
		max-width: 100%;
	}

	strong { font-weight: var(--fw-bold) }

	:focus {
		outline: 3px solid var(--clr-accent);
		outline-offset: 3px;
	}

	/* Buttons */

	.btn {
		display: inline-block;
		padding: .5em 2.5em;
		background: var(--clr-accent);
		color: var(--clr-dark);
		text-decoration: none;
		cursor: pointer;
		font-size: .8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: var(--fw-bold);
		transition: transform 200ms ease-in-out;
	}

	.btn:hover {
		transform: scale(1.1);
	}

	/* Typography */

	h1,
	h2,
	h3 {
		line-height: 1;
		margin: 0;
	}

	h1 { font-size: var(--fs-h1) }
	h2 { font-size: var(--fs-h2) }
	h3 { font-size: var(--fs-h3) }


	.section__title {
		margin-bottom: .25em;
		margin-right: 1em;
	}

	.section__title--intro {
		font-weight: var(--fw-reg);
	}

	.section__title--intro strong {
		display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*  Intro section  */
.intro {
    position: relative;
}

.intro__img {
	max-width:100%;
	margin:auto;
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
	
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.about-me {
    max-width: 1500px;
    margin: 0 auto;
	text-align:center;
}


@media (min-width: 600px) {
    .section__title--about {
        grid-area: title;
    }
    

}


/* PROJECT */
.projects-section {
  text-align: center;
  padding: 7rem 12rem 7rem 7rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.project {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}


.project-title {
  font-size:3rem;
  padding: 0.5rem 0.5rem;
  color: var(--clr-dark);
  font-weight:bold;
}



.container {
	justify-content:flex-start;
	flex-direction:row;
}
.grid {
	grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
	display:grid;
	grid-column-gap:30px;
	grid-row-gap:24px;
	list-style:none;
}


.grid > div {
	display:flex;
	align-items:center;
}

@media(max-width:30.625em) {
	.grid-template-columns: 1fr;
}

.card_header {
	font-size: 40px;
	font-weight:bold;
	color: black;
	padding-bottom:30px;
}

.card {
	display: flex;
	flex-direction:column;
	position:relative;
	background: #fff;
	border: 1px solid #dcdcdc;
	font-size: 30px;
	/*box-shadow: 0 1px 6px 0 rgba(0,0,0,.3)*/
}

.photo-img {
	margin: 16px -16px -16px -16px;
	display:block;
	max-width:100%;
	height:10vw;
	margin:auto;
}

